.partner-section{
    background: url("../../img/Shiny\ Monochrome.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     /* transform: rotateY(180deg); */
     padding: 5rem;
     text-align: center;
}
.partner-section span{
    color: #ff2121;
}
.partner-text h1{
    text-transform: uppercase;
}
.partner-text h1,.partner-text h3{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
/* .partner-text h1 span, .partner-text h3 span{
    color: #ff2121;
} */
.partner-text h3{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    line-height: 1.4;
    font-size: 20px;
}
.partner-section h4{
    margin-top: 5rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

}
.row-1,.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.support-card{
    border: 10px solid #1e2438;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    margin-top: 5rem;
    padding: 3rem;
    /* background-color:  #1e2438; */
    border-radius: 20px;
    cursor: pointer;
}
.support-card:hover{
    background-color: #1e2438;
    transition: all ease-in-out .7s ;
}
.support-card h5 {
    /* color: #ff2121; */
    margin-top: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 150%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    text-align: center;
    position: relative;
}
/* .support-card h5 span{
    color: #ff2121;
} */

/* .support-text span{
    color: #ff2121;
} */
.partner-icon{
    width: 100px;
}
.contact-link{
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-contact{
    width: 100%;
    background-color: #ff2121;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    position: relative;
}
.our-partners-heading{
    margin-top: 5rem;
    font-family: 'Orbitron', sans-serif;
}
.our-partners{

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 11px;
    place-items: center;
    align-items: center;
    justify-content: center;

    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}
.partner-image{
    max-width: 100%;
    /* height: auto; */
    position: relative;
    object-fit: contain;
    object-position: center;
}


@media(max-width:883px){
    .row-1,.row-2{
        flex-direction: column;
    }
    .partner-image{
        max-width: 100px;
    }
    .our-partners{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media(max-width:768px){
    .our-partners{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media(max-width:435px){
    .partner-image{
        /* width: 30px; */
    }
    
}
@media(max-width:325px){
    .support-card h5 {
        font-size: 10px!important;
    }
}