.programs-container{
    /* background-color: #0D1A32; */
    position: relative;    
    
    height:100vh;
}
.bg-image{
    position: absolute;
    background: url('../../img/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); 
    -webkit-filter: blur(1px);  */
    width: 100%;
    height: 100%;
    z-index: 2;


}
.fag-footer{
    /* z-index: 6; */
}
.intro-section{
    position: relative;
    top: 10rem;text-align: center;
    z-index:40;
   

}
.intro-section h1{
    font-size: 100px;
    color: rgb(238, 238, 238);
}
/* .intro-section h1::after{
    width: 60%;
    height: 10px;
    border-radius: 20px;
    color: #ff2121;
} */
.intro-section h1 span{
    color: #ff2121;
}
.intro-section p{
    width: 65%;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

}

@media(max-width:768px){
    .intro-section p{
        font-size: 22px;
        width: 70%;
    }
    .intro-section h1{
        font-size: 70px;
    }
}

