.register-container{
    height: 100%;
    /* border: 2px solid black; */
    background: url('../../img/Rect\ Lite.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.register-container h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.register-container h1 span{
    color: #ff2121;
}
.register-container p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin-left: auto;margin-right: auto;


}
.register-form{
    /* text-align: center; */    
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.input-container label{
    font-family: 'Orbitron', sans-serif;
    
}

.register-form input{
    width: 100%;
    /* height: 50px; */
    /* margin-left: 1rem;  */

    padding: 15px;
    margin: 10px 0px;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 6px;
    opacity:.9;

}
.btn-submit button{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ff2121;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;

}
.go-back-link{
    width: 100%;
}
.go-back-link a{
    width: 100%;
}
.back{

    background-color: #ff2121;
    background-size: cover;
    background-position: center;
    
    width: 100%!important;
    height: auto;
    background-color: #ff2121;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    text-align: center;

}

.go-home{
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.go-home input{
    position: relative;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ff2121;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 15px; */
    margin-bottom: 30px;
    text-transform: uppercase;
}















