.register-container{
    height: 120vh;
    /* border: 2px solid black; */
    background: url('../../img/Rect\ Lite.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.register-container h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;

}
.register-container h1 span{
    color: #ff2121;
}
.register-container p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;


}
.register-form{
    /* text-align: center; */    
    /* border:2px solid #fee621; */
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 100%; */
    /* padding: 10rem; */
    
}

.input-container{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
}
.input-container label{
    font-family: 'Orbitron', sans-serif;
    
}
/* input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
} */
.register-form input{
    /* width: 100%; */
    height: auto;
    min-width: 300px;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 6px;
    opacity:.9;
    /* box-sizing: border-box; */

}
.btn-submit button{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ff2121;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;

}
/* .go-back-link{
    width: 100%;
} */
/* .go-back-link a{
    width: 100%;
} */
.back{

    background-color: #ff2121;
    background-size: cover;
    background-position: center;
    
    width: 100%!important;
    height: auto;
    background-color: #ff2121;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    text-align: center;

}

.go-home{
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.go-home button{
    position: relative;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ff2121;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 15px; */
    margin-bottom: 30px;
    text-transform: uppercase;
}


@media(max-width:768px){
    /* .register-form{
        width: 100%;
    } */
    .input-container{
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* width: 100vw; */
        margin-left: auto;
        margin-right: auto;
    }
    .register-container h1{
        font-size: 160%;
        line-height: 1.2;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .register-container p{
        font-size: 100%;
        line-height: 1.5;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* .register-form input{
        width: 50% ;
        margin-left: auto;
        margin-right: auto;
    } */
    
}

@media(max-width:320px){
    .register-form input{
        min-width: 200px;
    }
    .register-container h1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}












